.container {
    position: relative;
    width: 100%;
    padding: 15px;
}

.container:hover {
    background-color: rgb(222 222 222 / 0.2);
}

.label-text {
    font-size: 150%;
    color: rgb(222 222 222 / 0.9);
}

.label {
    position: relative;
    font-size: 60%;
    color: rgb(222 222 222 / 0.5);
}

.input {
    text-align: left;
    font-size: 60%;
}

.search-container {
    align-items: center;
    margin-top: 12px;
    border: 1px solid rgb(255 255 255 / 0.2);
    border-radius: 24px;
    padding: 5px 10px 5px 20px;
}

.search-list {
    position: absolute;
    top: 5px;
    padding: 10px;
    background-color: rgb(0 0 0 / 0.9);
    width: 100%;
    border-radius: 10px;
}

.search-list-container {
    position: relative;
}

.search-list-header-container {
    align-items: center;
    justify-content: space-between;
    color: rgb(222 222 222 / 0.5);
    font-size: 60%;
}

.selected-list-item-delete,
.search-list-header-close {
    cursor: pointer;
    background: none;
    border: none;
    border-radius: 50%;
    color: rgb(222 222 222 / 0.5);
    padding: 3px;
}

.search-list-header-close:hover {
    background-color: rgb(222 222 222 / 0.2);
}

.selected-list-container {
    margin-left: 54px;
    margin-top: 12px;
}

.selected-list-item {
    width: auto;
    border-radius: 22px;
    background-color: rgb(222 222 222 / 0.9);
    color: #000;
    padding: 4px 12px;
}

.search-list-item {
    cursor: pointer;
    margin: 8px 0;
    padding: 8px 16px;
}

.search-list-item:hover {
    background-color: rgb(222 222 222 / 0.5);
}

.selected-list-item {
    margin: 8px 0;
}

.selected-list-item-delete {
    color: #000;
}

.selected-list-item {
    align-items: center;
    justify-content: space-between;
}
